<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PowerBI_REST_GUITool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PowerBI_REST_GUITool.Properties.Settings>
            <setting name="AADAuthorityUri" serializeAs="String">
                <value>https://login.windows.net/common/oauth2/authorize/</value>
            </setting>
            <setting name="PowerBiAPI" serializeAs="String">
                <value>https://analysis.windows.net/powerbi/api</value>
            </setting>
            <setting name="PowerBiDataset" serializeAs="String">
                <value>https://api.powerbi.com/v1.0/myorg</value>
            </setting>
        </PowerBI_REST_GUITool.Properties.Settings>
    </applicationSettings>
</configuration>